<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Menu</title>
</head>
<body>
    <div class="content">
        <h1>Cramer 2x2 e 3x3</h1>
        <p>Feito por Helena Gonçalves; 402 INFO</p>
        <a href="src/form2x2.php" class="button">Equação de 2 incógnitas</a>
        <a href="src/form3x3.php" class="button">Equação de 3 incógnitas</a>
    </div>
</body>
</html>